{% extends "front_base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block title %}Sign in{% endblock %}

{% block content %}
<!-- <h1 class="mb-4">Sign in</h1> -->
<div class="page-wrapper login-page hide" id="login-block">
  <div class="auth-card">
      <div class="brand">
        <div class="brand-icon">
          <span> <span><img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Compassly Logo"></span></span>
        </div>
        <div class="brand-title">Compassly</div>
      </div>

      <h1 class="auth-heading">Log in</h1>
      <p class="auth-subtitle">Welcome back, please log in to your account.</p>

<form action="{{ url_for('security.login') }}" class="login-form" method="POST" novalidate>
  {{ login_user_form.hidden_tag() }}
  {{ render_field_with_errors(login_user_form.email, class="input form-control mb-3") }}
  {{ render_field_with_errors(login_user_form.password, class="input form-control mb-3") }}
  <div class="form-check mb-3">
    {{ login_user_form.remember(class="form-check-input") }}
    <label class="form-check-label" for="{{ login_user_form.remember.id }}">Remember me</label>
  </div>
  {{ render_field(login_user_form.submit, class="hero-button btn btn-primary") }}
  {% if security.recoverable %}
  <div class="auth-row">
    <span class="mx-2">·</span>
    <a href="{{ url_for('security.forgot_password') }}" class="link">Forgot password?</a>
  </div>
  {% endif %}
</form>

<div class="mt-3">
  {% if security.registerable %}
    <p class="auth-alt">
          Don’t have an account?
          <a href="{{ url_for('security.register') }}" class="link">Sign up</a>
        </p>
  {% endif %}

</div>
</div>
<p class="footer-text">
      Join 2,000+ Ambitious Women Building Bold Careers with Career Compass.
    </p>
</div>
{% endblock %}
