{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<h2>List of Tables (For Crud Operation)</h2>

<ul>
  <li><a href="/admin/categories">Categories of Questions</a></li>
  <li><a href="/admin/questions">Base Questions</a></li>
  <li><a href="/admin/choices">Base Question Choices</a></li>
  <li><a href="/admin/job_roles">Job Roles</a></li>
  <li><a href="/admin/courses">Courses</a></li>
  <li><a href="/admin/live_jobs">Live Jobs</a></li>
  <li><a href="/admin/technical_questions">Technical Questions</a></li>
  <li><a href="/admin/technical_choices">Technical Question Choices</a></li>
</ul>
{% endblock %}
