{% extends "front_base.html" %}
{% block title %}Compassly{% endblock %}
{% block content %}
<div class="page-wrapper">
  <div class="auth-card quiz-card">
      <div class="brand">
        <div class="brand-icon">
          <span> <span><img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Compassly Logo"></span></span>
        </div>
        <div class="brand-title">Compassly</div>
      </div>

      <h1 class="auth-heading">Submit the Quiz</h1>
      <p class="auth-subtitle">Please answer the following questions.</p>
<form method="post" action="/" enctype="multipart/form-data" id="quiz">
    <div class="quiz_errors" id="quiz_errors"></div>
 {% for cat in categories %}
 <h2 class="link_text">{{ cat.name}}</h2>

 <div class="base_questions">
   {% for q in questions %}
    {% if q.category_id == cat.id %}
        {% if q.type == "boolean" %}
        <label for="{{ q.id ~ loop.index }}">{{ q.prompt }} {% if q.is_required %}<span class="req">*</span>{% endif %}
         {% for c in q.choices %}
        <input type="radio" id="{{c.id}}" name="{{ q.promp}}" value="{{ c.value }}">
    <label for="{{ c.id }}">{{ c.label }}</label><br>
     {% endfor %}
    </label>
        {% endif %}
        {% if q.type == "single" or q.type == "multi" %}
        <label for="{{ q.id ~ loop.index }}">{{ q.prompt }} {% if q.is_required %}<span class="req">*</span>{% endif %}
        <select name="{{ q.promp}}" id="question-{{ q.id ~ loop.index }}"{% if q.is_required %} required{% endif %}{% if q.type == "multi" %} multiple{% endif %}>
          <option value="">-- choose --</option>
          {% for c in q.choices %}
          <option value="{{ c.value}}">{{ c.label }}</option>
          {% endfor %}
        </select>
         </label>
        {% endif %}
        {% if q.type == "text" %}
        <label for="{{q.id ~ loop.index }}">{{ q.prompt }} {% if q.is_required %}<span class="req">*</span>{% endif %}</label>
    <input type="text" id="{{q.id ~ loop.index}}" name="{{ q.prompt }}">
        {% endif %}
    {% endif %}
   {% endfor %}

{% endfor %}  
    <input type="hidden" name="user_id" id="user_id" value="{{ user_id }}">
  <input type="button" name="submit" id="submit_quiz_btn" class="hero-button btn btn-primary" value="Submit">
</div>
<div class="technical_questions">
    
</div>
</form>
</div>
</div>

<p class="footer-text">
      Join 2,000+ Ambitious Women Building Bold Careers with Career Compass.
    </p>
{% endblock %}
